body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-image: url('resources/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Set the height to 100% of the viewport height */
    overflow: hidden; /* Prevent scroll bars */
}

.mainText{
    color: white;
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 30pt;
    text-align: center;
}

.fullViewport {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
